/* General */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(219, 219, 219);
}

h1 {
  font-size: 61px;
  margin: auto;
  padding: 5px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  color: white;
  padding-top: 10px;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 0 5px;
  border-right: 1px solid rgb(167, 165, 165);
  display: flex;
  align-items: center;
  height: 10px;
}

a {
  text-decoration: none;
  color: #08c;
}

a:hover {
  text-decoration: underline;
}

.section-images a {
  max-width: 25%;
  max-height: 100%;
}

/* Header */
header {
  background-image: url(../images/Background.png);
  background-size: cover;
}

.header-text p {
  margin-top: 10px;
  margin-bottom: 2px;
  padding-bottom: 155px;
  padding-top: 24px;
  font-size: 25px;
  color: rgb(219, 219, 219);
  align-items: center;
}

.header-text a {
  color: aliceblue;
}

.header-text {
  padding-top: 30px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

nav {
  margin: 0 auto;
  padding-top: 83px;
  padding-bottom: 13px;
  display: flex;
  justify-items: center;
}

.links-container a {
  width: 11.11%;
  min-height: 36px;
  padding: 3px 0;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  -webkit-text-stroke: 0.2px black;
  font-size: 13px;
  border-right: 0.02px solid #494949;
  display: flex;
  align-items: center;
}

nav a:hover {
  background:
    linear-gradient(
      180deg,
      rgba(94, 94, 94, 1) 0%,
      rgba(78, 78, 78, 1) 26%,
      rgba(72, 72, 72, 1) 47%,
      rgba(57, 57, 57, 1) 48%,
      rgba(61, 61, 61, 1) 84%,
      rgba(80, 80, 80, 1) 100%
    );
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: auto;
  min-width: 980px;
  border-radius: 5px;
  border: 0.5px solid rgba(134, 134, 134, 0.404);
  background:
    linear-gradient(
      180deg,
      rgba(138, 138, 138, 1) 0%,
      rgba(123, 123, 123, 1) 26%,
      rgba(115, 115, 115, 1) 47%,
      rgba(95, 95, 95, 1) 48%,
      rgba(99, 99, 99, 1) 77%,
      rgba(111, 111, 111, 1) 100%
    );
}

p img {
  display: inline-block;
  margin-bottom: -5px;
  width: 30px;
}

.apple-btn img {
  width: 18px;
}

.apple-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.1%;
  min-height: 36px;
}

a span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.search-bar {
  min-width: 11.11%;
  min-height: 36px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.search-bar img {
  position: absolute;
  width: 16px;
  padding-left: 5px;
}

input[type="text"] {
  background: none;
  border: 1px solid #585858;
  border-radius: 12px;
  width: 106px;
  height: 23px;
  transition: width 0.5s;
  padding-right: 10px;
  overflow: hidden;
}

input[type="text"]:focus {
  background-color: white;
  border: 1px solid wheat;
  width: 180px;
  padding-right: 10px;
  object-fit: fill;
}

/* Images section */
.section-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.section-images img {
  width: 100%;
}

/* Footer section */
footer {
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
  font-size: x-small;
  color: #6e6e6e;
  padding: 10px;
  margin: 10px 68px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 90px;
  justify-content: space-around;
}

.worldwide {
  border: none;
}

.worldwide img {
  width: 18px;
}

.copyright-elements {
  padding-top: 20px;
}
