*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgb(219, 219, 219);
}
h1 {
  font-size: 60px;
  margin: auto;
  padding: 10px;
  color: rgb(219, 219, 219);
}

h2 {
  font-size: 32px;
  color: rgb(219, 219, 219);
  line-height: 40px;
}

ul {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

input[type="text"] {
  background: linear-gradient(
    180deg,
    rgba(136, 136, 136, 1) 0%,
    rgba(128, 128, 128, 1) 48%,
    rgba(110, 110, 110, 1) 51%,
    rgba(118, 118, 118, 1) 100%
  );
  border: 1px solid #585858;
  border-radius: 12px;
  width: 106px;
  height: 23px;
}

.search-bar img{  
  position: absolute;
  width: 16px;
  padding-left: 5px;
}

/* Header */

.apple-btn img{
  width: 18px;
}
.apple-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}


header {
  background-image: url("/assets/images/Background.png");
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(138, 138, 138, 1) 0%,
    rgba(123, 123, 123, 1) 26%,
    rgba(115, 115, 115, 1) 47%,
    rgba(95, 95, 95, 1) 48%,
    rgba(99, 99, 99, 1) 77%,
    rgba(111, 111, 111, 1) 100%
  );
}
.links-container {
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  justify-items: center;
}
nav a {
  padding: 3px 0px;
  min-width: 106px;
  min-height: 36px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  -webkit-text-stroke: 0.2px black;
  font-size: 13px;
  border-right: 0.02px solid #494949;
}

.search-bar {
  min-width: 106px;
  min-height: 36px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}


nav a:hover {
  background: linear-gradient(
    180deg,
    rgba(94, 94, 94, 1) 0%,
    rgba(78, 78, 78, 1) 26%,
    rgba(72, 72, 72, 1) 47%,
    rgba(57, 57, 57, 1) 48%,
    rgba(61, 61, 61, 1) 84%,
    rgba(80, 80, 80, 1) 100%
  );
}

a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 30px;
  margin: auto;
}

.main-text p {
  margin: 10px 0px;
  padding-bottom: 160px;
  padding-top: 20px;
  font-size: 25px;
  color: rgb(219, 219, 219);
}

.main-text {
  padding-top: 30px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* Images section */
.section-images {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.section-images img {
  max-width: 335px;
}

/*Footer section*/
footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: x-small;
  padding: 10px;
  margin: 10px 70px;
}

footer a{
  color: #08c;
}
.footer-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}
footer li {
  padding: 0px 5px;
  border-right: 1px solid rgb(167, 165, 165);
  display: flex;
  align-items: center;
}
.worldwide{
  border: none;
  height: 10px;
}
.worldwide img{
  width: 18px;
}
.copyright-elements {
  padding-top: 20px;
}


